{% include 'layout.html' %}
<div class="container">
    <div>
        <a href="/jobs/create-job" class="btn btn-primary">Create a new Job</a>  
    </div>
    <div class="row" style="margin-top: 30px;">
        {% for job in jobs %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{job.title}}</h5>
                    <p class="card-text">{{job.description}}</p>
                    <p class="card-text">Company Name: {{job.company}}</p>
                    <p class="card-text">Date Posted: {{job.date_posted}}</p>
                    <a href="/jobs/edit-job/{{job.id}}" class="btn btn-primary">Edit this job</a>
                    <a href="/jobs/display-details/{{job.id}}" class="btn btn-success">List of Students</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>